{% extends "twit/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        {% for post in posts %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </article>
        {% endfor %}
    {% else %}
        <h1>News from the world!</h1>
        <p>Create an account<a class="nav-item nav-link" href="{% url 'register' %}"><button class="btn btn-outline-info" type="submit">Register</button></a></p>
        <p>Already have an account?<a class="nav-item nav-link" href="{% url 'login' %}"><button class="btn btn-outline-info" type="submit">Login</button></a></p>
    {% endif %}
{% endblock content %}